:root {
    --accent-color: #4D5AE5;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --background-color: #2E2F42;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    background: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.logo span {
color: var(--accent-color);

}
.logo {
font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: 1.33;

letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--primary-text-color);
}
.list {
 list-style: none;   
}
.link {
    text-decoration: none;
}
.menu-link {
font-weight: 500;
line-height: 1.5;
color: var(--primary-text-color);

}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.contact {
font-weight: 400;
line-height: 1.5;

color: var(--secondary-text-color);

}
.contact:hover,
.contact:focus {
    color: var(--accent-color); 
}
.hero {
    background: var(--background-color);
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;

text-align: center;
color: #FFFFFF;

}
.primary-btn {
font-family: inherit;
font-weight: 500;
line-height: 1.19;
letter-spacing: 0.04em;
cursor: pointer;
color: #FFFFFF;
    background: var(--accent-color);
}
.primary-btn:hover {
    background: var(--accent-color);
}
.primary-btn:focus {
    background: #404BBF;
}
.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;

text-align: center;
text-transform: capitalize;

color: var(--primary-text-color);

}
.subject {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--primary-text-color);

}
.text {
    line-height: 1.5;
    color: var(--secondary-text-color);
     
}
.section-text {

line-height: 1.5;
/* text-align: center; */
color: var(--secondary-text-color);
}
.team {
    background: #FFFFFF;
}
.projects-btn {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
}
.projects-btn:hover {
    color: #FFFFFF;
    background: var(--accent-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.projects-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: var(--primary-text-color);
}
/* --------Footer-------- */
.footer {
    background: var(--background-color);
}
.footer-text {
line-height: 1.5;
color: #E7E9FC;
}
.footer .logo {
    color: #F4F4FD;
}